<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.administrator.oper">


    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainOperActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.me.PersonalInfoActivity">
        </activity>
        <activity
                android:name=".ui.activity.me.ModifyPaswordActivity"
                android:label="@string/title_activity_modify_pasword"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.activity.me.SettingManagementActivity">
        </activity>
        <activity android:name=".ui.activity.me.OperationGuideActivity">
        </activity>
        <activity
                android:name=".ui.activity.edu.StudentManagementActivity"
                android:label="@string/title_activity_student_management"
                android:screenOrientation="fullSensor"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.activity.edu.ClassManagemenActivity">
        </activity>
        <activity
                android:name=".ui.activity.edu.TimetablesActivity"
                android:label="@string/title_activity_timetables"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.EmployeeListActivity"
                android:label="@string/title_activity_employee_list"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.ContractManagementActivity"
                android:label="@string/title_activity_contract_management"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.ClassroomManagementActivity"
                android:label="@string/title_activity_classroom_management"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.fiance.StudentRefundsActivity"
                android:label="@string/title_activity_student_refunds"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
                android:name=".ui.activity.fiance.BookkeepingActivity"
                android:label="@string/title_activity_bookkeeping"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
                android:name=".ui.activity.fiance.PayrollsActivity"
                android:label="@string/title_activity_payrolls"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
                android:name=".ui.activity.fiance.PersonalPayrollActivity"
                android:label="@string/title_activity_personal_payroll"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.fiance.AllExpensesActivity"
                android:label="@string/title_activity_all_expenses"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.CollegeEntryActivity"
                android:label="@string/title_activity_college_entry"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
                android:name=".ui.activity.daily.CollegeDistributionActivity"
                android:label="@string/title_activity_college_distribution"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.CollegeFollowUpActivity"
                android:label="@string/title_activity_college_follow_up"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.RenewalRemindingActivity"
                android:label="@string/title_activity_renewal_reminding"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.AuditionsArrangementActivity"
                android:label="@string/title_activity_auditions_arrangement"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.WaitForClassActivity"
                android:label="@string/title_activity_wait_for_class">
        </activity>
        <activity
                android:name=".ui.activity.daily.StudentAttendanceActivity"
                android:label="@string/title_activity_student_attendance"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.CreateAJobActivity"
                android:label="@string/title_activity_create_ajob"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
                android:name=".ui.activity.daily.ToBeCorrectedActivity"
                android:label="@string/title_activity_to_be_corrected"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.MyHomeworkActivity"
                android:label="@string/title_activity_my_homework"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.SelectParentalDistributionActivity"
                android:label="@string/title_activity_select_student_distribution"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.ReminderSettingsActivity"
                android:label="@string/title_activity_reminder_settings"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.SelectStudentsActivity"
                android:label="@string/title_activity_select_students"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.CurriculumClassificationActivity"
                android:label="@string/title_activity_curriculum_classification"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.SelectClassActivity"
                android:label="@string/title_activity_select_class"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.AddMealActivity"
                android:label="@string/title_activity_add_meal"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
                android:name=".ui.activity.edu.AddCassActivity"
                android:label="@string/title_activity_add_cass"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
                android:name=".ui.activity.edu.AddOneToOneClassesActivity"
                android:label="@string/title_activity_add_one_to_one_classes"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.OneToOneDetailsActivity"
                android:label="@string/title_activity_one_to_one_details"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.AddOneToOneStudentsActivity"
                android:label="@string/title_activity_add_one_to_one_students"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.DetailsOfParentsActivity"
                android:label="@string/title_activity_details_of_parents"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.HomeworkDetailsActivity"
                android:label="@string/title_activity_homework_details"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.AddStaffActivity"
                android:label="@string/title_activity_add_staff"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.ClassroomAssignmentsActivity"
                android:label="@string/title_activity_classroom_assignments"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.me.AddRolesActivity"
                android:label="@string/title_activity_add_roles"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
                android:name=".ui.activity.fiance.PersonaRefundActivity"
                android:label="@string/title_activity_persona_refund"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
                android:name=".ui.activity.daily.AddStudentsSelectTypeActivity"
                android:label="@string/title_activity_add_students_select_type"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.IntentionalCourseActivity"
                android:label="@string/title_activity_intentional_course"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.AddingClassroomsActivity"
                android:label="@string/title_activity_adding_classrooms"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.AddClassroomsSelectsActivity"
                android:label="@string/title_activity_add_classrooms_selects"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.ClassTimeSettingActivity"
                android:label="@string/title_activity_class_time_setting"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.fiance.AddEmployeeWagesActivity"
                android:label="@string/title_activity_add_employee_wages"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.fiance.HistoryWageRecordActivity"
                android:label="@string/title_activity_change_record"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.ClassDetailsActivity"
                android:label="@string/title_activity_class_details"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.CourseArrangementListActivity"
                android:label="@string/title_activity_course_arrangement_list"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.CotractPackageSelectCategoryActivity"
                android:label="@string/title_activity_cotract_package_select_category"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.FollowUpRecordActivity"
                android:label="@string/title_activity_follow_up_record"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.AddARecordActivity"
                android:label="@string/title_activity_add_arecord"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.ContractPurchaseCourseActivity"
                android:label="@string/title_activity_contract_purchase_course"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.SelectCourseclassificationActivity"
                android:label="@string/title_activity_select_courseclassification"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.edu.ClassTimeListActivity"
                android:label="@string/title_activity_class_time_list"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.ChoiceFollowUpMethodActivity"
                android:label="@string/title_activity_choice_follow_up_method"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!-- 录音服务 -->
        <service android:name=".soundrecording.RecordingService"/>

        <activity
                android:name=".ui.activity.daily.CourseCheckInActivity"
                android:label="@string/title_activity_course_check_in"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.fiance.RecordOfExpenditureActivity"
                android:label="@string/title_activity_record_of_expenditure"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.fiance.RefundsRecordActivity"
                android:label="@string/title_activity_refunds_record"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.fiance.CoursePurchaseRecordActivity"
                android:label="@string/title_activity_course_purchase_record"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.CommitPreviewHomeworkctivity"
                android:label="@string/title_activity_commit_preview_homeworkctivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ui.activity.daily.SelectAddressActivity"
                android:label="@string/title_activity_select_address"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>